
.magazine {
    margin: 150px 0 130px 0;
}

.magazine-title {
    margin-bottom: 100px;
    color: rgb(29, 31, 46);
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.magazine-content {
    display: flex;
    gap: 80px;
}

.magazine-img-wrapper {
    display: flex;
    gap: 20px;
}

.magazine-img-second {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.magazine-info {
    text-align: left;
}

.magazine-info-subtitle {
    color: rgb(29, 31, 46);
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.magazine-info-title {
    margin: 14px 0 15px 0;
    color: rgb(29, 31, 46);
    font-family: Karla;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
}
.magazine-info-text {
    color: rgba(29, 31, 46, 0.7);
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}

.magazine-info-btn {
    width: 173px;
    padding: 9px;
    margin-top: 25px;
    color: rgb(255, 255, 255);
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background: rgb(29, 31, 46);
    cursor: pointer;
}